<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="content" class="container">
    <p class="font-semibold p-3 pb-0 text-center text-lg">약관동의</p>
    <div class="mt-4 mb-2 flex flex-col gap-3 mx-auto center w-5/6">
        <div style="white-space: pre-wrap; font-family: monospace;">
제 1장 총칙
제 1 조 (목적)
본 약관은 오늘의 고비(이하 "회사"라 합니다)이 제공하는 인터넷 서비스(이하 "서비스"라 합니다)의 이용과 관련하여 회사와 회원의 권리, 의무 및 기타 필요한 사항을 규정함을 목적으로 합니다.
제 2 조 (용어의 정의)
본 약관에서 사용하는 주요한 용어의 정의는 다음과 같습니다.
①회원 : 회사와 서비스 이용 계약을 체결하고 회원 아이디(ID)를 부여 받은 자를 말합니다.
②아이디 : 회원의 식별과 회원의 서비스 이용을 위하여 회원이 선정하고 회사가 승인하는 문자나 숫자 혹은 그 조합을 말합니다(이하"ID"라 합니다).
③비밀번호 : 회원이 부여 받은 ID와 일치된 회원임을 확인하고, 회원 자신의 비밀을 보호하기 위하여 회원이 정한 문자와 숫자의 조합을 말합니다.
④닉네임 : 서비스 이용을 위하여 회원이 선정하고 회사가 승인한 문자나 숫자 혹은 그 조합으로 서비스 이용 시 회원을 구분하고 지칭하고 나타내는 명칭을 말합니다.
⑤이메일 : 비밀번호를 재설정하기 위해 필요한 이메일 주소를 말합니다.
⑥이용제한 : 회사가 약관에 의거하여 회원의 서비스 이용을 제한하는 것을 말하며, 일정 기간 서비스 이용 중지, 영구적인 서비스 이용 중지, 서비스 중 일부에 대한 이용 중지를 포함합니다.
제 3 조 (약관의 효력 및 변경)
①본 약관의 내용은 회원이 쉽게 알 수 있도록 서비스 화면에 게시합니다.
②회사는 필요하다고 인정되는 경우 본 약관을 변경할 수 있으며, 회사가 약관을 변경할 경우에는 적용일 및 변경 내용을 명시하여 제1항의 방법으로 그 적용일의 최소 7일 전부터 공지합니다. 다만, 회원에게 불리한 약관의 변경인 경우에는 최소 30일 전부터 공지합니다. 회사는 회원에게 불리한 약관 변경의 경우 회원 정보에 기재된 이메일로 개별 통지합니다.
③회사가 제2항에 따라 약관의 변경을 공지 또는 통지하면서 변경 약관의 적용일까지 거부 의사를 표시하지 않으면 약관 변경에 동의한 것으로 간주한다는 내용을 공지 또는 통지하였음에도 불구하고 회원이 명시적으로 거부 의사를 표시하지 않은 경우 변경 약관에 동의한 것으로 봅니다. 회원은 변경된 약관에 동의하지 않는 경우 이용 계약을 해지할 수 있습니다.
제 4 조 (약관 외 준칙)
본 약관에 명시되지 아니한 사항에 대해서는 전기통신기본법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 및 기타 관련 법령의 규정에 따릅니다.

제 2장 서비스 이용 계약
제 5 조 (이용 계약의 성립)
이용계약은 회원이 되고자 하는 자 (이하 “가입신청자”라 합니다.)가 본 약관 및 개인정보처리방침에 동의한 다음 회원가입신청을 하고 회사가 이러한 신청을 승낙함으로써 체결됩니다.</div>
        <hr class="my-3 border-gray-300 w-11/12 mx-auto">
        <div style="white-space: pre-wrap; font-family: monospace;">[수집하는 개인정보의 항목]

가. 회사는 회원가입, 원활한 고객상담, 각종 서비스의 제공을 위해 최초 회원가입 당시 아래와 같은 최소한의 개인정보를 필수항목으로 수집하고 있습니다.
- 성명, 아이디, 비밀번호, 닉네임, 메일주소
나. 서비스 이용과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
- IP Address, 쿠키, 방문 일시, 서비스 이용 기록

[개인정보의 수집 및 이용 목적]

가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산
컨텐츠 제공, 특정 맞춤 서비스 제공, 본인인증, 구매 및 요금 결제, 요금추심
나. 회원관리
회원제 서비스 이용 및 제한적 본인 확인제에 따른 본인확인, 개인식별, 불량회원의 부정 이용방지와 비인가 사용방지, 가입의사 확인, 가입 및 가입횟수 제한, 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 추후 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달
다. 신규 서비스 개발 및 마케팅·광고에의 활용
신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스 이용에 대한 통계
        </div>
        <div class="checkbox_group flex flex-col gap-5">
            <div class="flex justify-center items-center gap-3">
                <input type="checkbox" id="check_1" class="normal checkbox checkbox-sm">
                <label for="check_1">서비스 이용약관 (필수)</label></div>
            <div class="flex justify-center items-center gap-3">
                <input type="checkbox" id="check_2" class="normal checkbox checkbox-sm">
                <label for="check_2">개인정보 수집 및 이용 (필수)</label></div>
            <div class="flex justify-center items-center gap-3">
                <input type="checkbox" id="check_all" class="checkbox checkbox-primary checkbox-sm">
                <label for="check_all" class="font-semibold">전체 동의</label></div>
            <a href="/auth/signup" class="btn m-2 mb-5" id="nextButton" disabled
               onclick="handleNextButtonClick(event)">다음</a>
        </div>
    </div>
    <script>
        // 체크박스 전체 선택
        $(".checkbox_group").on("click", "#check_all", function () {
            $(this).parents(".checkbox_group").find('input').prop("checked", $(this).is(":checked"));
        });

        // 체크박스 개별 선택
        $(".checkbox_group").on("click", ".normal", function () {
            var is_checked = true;

            $(".checkbox_group .normal").each(function () {
                is_checked = is_checked && $(this).is(":checked");
            });

            $("#check_all").prop("checked", is_checked);
        });

        // 버튼 활성화 로직
        function checkNormalCheckboxes() {
            var normalCheckboxes = document.getElementsByClassName("normal");
            var allChecked = true;

            for (var i = 0; i < normalCheckboxes.length; i++) {
                if (!normalCheckboxes[i].checked) {
                    allChecked = false;
                    break;
                }
            }

            var checkAllCheckbox = document.getElementById("check_all");
            if (checkAllCheckbox.checked) {
                allChecked = true;
            }

            var nextButton = document.getElementById("nextButton");
            nextButton.disabled = !allChecked;
            nextButton.style.pointerEvents = allChecked ? "auto" : "none";
            if (allChecked) {
                nextButton.style.backgroundColor = "#66CC8A"; // 활성화 되었을 때 버튼 색
                nextButton.style.color = "#000000"; // 텍스트
            } else {
                nextButton.style.backgroundColor = "";
                nextButton.style.color = "";
            }
        }

        function handleNextButtonClick(event) {
            if (event.target.disabled) {
                event.preventDefault();
            }
        }

        var normalCheckboxes = document.getElementsByClassName("normal");
        for (var i = 0; i < normalCheckboxes.length; i++) {
            normalCheckboxes[i].addEventListener("change", checkNormalCheckboxes);
        }

        var checkAllCheckbox = document.getElementById("check_all");
        checkAllCheckbox.addEventListener("change", checkNormalCheckboxes);
    </script>
</div>
</html>