<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="content" class="container">
    <p class="font-semibold p-3 pb-0 text-center text-lg">비밀번호 찾기</p>
    <div class="mt-4 mb-2 flex flex-col gap-3 mx-auto center w-5/6">
        <form th:action="@{/auth/forgot-password}" method="post">

            <div class="flex flex-col mb-1">
                <label for="email" class="form-label m-2">이메일 입력</label>
                <input type="email" name="email" id="email" class="input input-bordered input-sm w-2/3" required>
            </div>
            <div th:if="${param.error}">
                <p class="ml-2 text-red-500">해당 이메일로 가입한 회원을 찾을 수 없습니다.</p>
            </div>
            <button type="submit" class="btn btn-primary m-2 float-right" value="Reset Password">인증번호 전송</button>
        </form>
    </div>
</div>
</html>