<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="content" class="container my-3">
    <form th:action="@{/auth/forgot-password}" method="post">


        <div class="mb-3">
            <label for="email" class="form-label">이메일 입력</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div th:if="${param.error}">
            <hr style="margin-bottom: 10px">
            <p style="color: red;">해당 이메일로 가입한 회원을 찾을 수 없습니다.</p>

        </div>
        <button type="submit" class="btn btn-md btn-primary" value="Reset Password">인증번호 전송</button>
    </form>


</div>

</html>