<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="content" class="container my-3">
    <form th:action="@{/auth/reset-password}" method="post" th:object="${memberId}">
        <div class="mb-3">
            <input type="hidden" id="memberId" name="memberId" th:value="${memberId}" readonly>
            <label for="password" class="form-label">새로운 패스워드 입력</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label">패스워드 확인</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required>
        </div>

        <div th:if="${param.error}">
            <hr style="margin-bottom: 10px">
            <p style="color: red;">두 패스워드가 일치하지 않습니다.</p>
        </div>

        <button type="submit" class="btn btn-md btn-primary" value="Reset Password">변경</button>
    </form>
</div>

</html>