<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="content" class="container">
    <p class="font-semibold p-3 pb-0 text-center text-lg">회원가입</p>
    <div class="mt-4 mb-2 flex flex-col gap-3 mx-auto center w-5/6">
        <form th:object="${signupForm}" th:action="@{/auth/signup}" method="post">
            <div class="alert alert-danger mb-2 flex justify-center" th:if="${param.error}">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <span>모든 항목을 입력해주세요.</span>
            </div>

            <div class="flex flex-col mb-1">
                <label for="nickname" class="form-label m-2">닉네임</label>
                <input type="text" name="nickname" id="nickname" class="input input-bordered input-sm w-1/2">
            </div>
            <div class="flex flex-col mb-1">
                <label for="loginId" class="form-label m-2">아이디</label>
                <input type="text" name="loginId" id="loginId" class="input input-bordered input-sm w-1/2">
            </div>
            <div class="flex flex-col mb-1">
                <label for="email" class="form-label m-2">E-mail</label>
                <input type="email" name="email" id="email" class="input input-bordered input-sm w-2/3">
            </div>
            <div class="flex flex-col mb-1">
                <label for="password" class="form-label m-2">비밀번호</label>
                <input type="password" name="password" id="password" class="input input-bordered input-sm w-2/3">
            </div>
            <button type="submit" class="btn btn-primary m-5 float-right">회원가입</button>
        </form>
    </div>
</div>

</html>