<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:inline="javascript">
        const chatRoomId = /*[[${chatRoom.id}]]*/ '';
        const token = /*[[${_csrf.token}]]*/ '';
    </script>
    <script th:src="@{/app.js}"></script>
</head>
<div layout:fragment="content">

    <!-- content 시작 -->
    <div class="w-full my-3">
        <div class="font-semibold text-2xl my-1 text-center my-4">채팅방1</div>

        <!-- 채팅 내용 -->
        <div class="chat__message-ul"></div>

        <!-- 채팅 입력 -->
        <form id="messageForm" onsubmit="chatWriteMessage(this); return false;" class="w-full my-5">
            <div class = "flex items-center">
            <input type="text" id="content" name="content" placeholder="Message" class="input input-bordered input-primary mx-2">
            <button type="submit" class="btn btn-primary">전달!</button>
            </div>
        </form>
    </div>
</div>
<!-- content 종료 -->

</html>