<html layout:decorate="~{template}">
<head>
    <!-- summernote -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

</head>
<body>
<div layout:fragment="content">
    <h1 class="font-semibold p-3 text-center">게시글 등록</h1>
    <form th:object="${postDto}" method="post">
        <!-- CSRF 토큰 추가 -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div class="alert bg-red-300 shadow-lg w-11/12 mx-auto text-sm flex-col font-semibold" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <div class="w-11/12 mx-auto center">
            <div class="flex flex-col">
                <label for="subject" class="form-label my-3">제목</label>
                <input type="text" placeholder="제목을 입력해주세요." th:field="*{subject}" class="input input-bordered input-md w-full" />
            </div>
            <div class="flex flex-col">
                <label for="content" class="form-label my-3">내용</label>
                <textarea class="summernote" placeholder="내용" th:field="*{content}"></textarea>
                <script>
                    $('.summernote').summernote({
                        height: 500,
                        minHeight : null,
                        maxHeight : null,
                        lang: "ko-KR",
                        toolbar: [
                            // [groupName, [list of button]]
                            ['fontname', ['fontname']],
                            ['fontsize', ['fontsize']],
                            ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                            ['color', ['forecolor','color']],
                            ['table', ['table']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['height', ['height']],
                            ['insert',['picture','link','video']],
                            ['view', ['fullscreen', 'help']]
                        ],
                        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
                        fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
                    });
                </script>
            </div>
            <div class="flex flex-row justify-end my-4">
                <input type="submit" value="등록" class="btn btn-outline btn-primary"/>
                <input type="button" value="취소" class="btn btn-error mx-2" th:onclick="'location.href=\'' + @{/posts/{category}/list(category=${category})} + '\';'"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>