<html layout:decorate="~{template}">
<head></head>
<body>
<div layout:fragment="content" class="overflow-x-auto">
    <h1 class="font-semibold p-3 text-center text-lg" th:text="${category eq 'free' ? '자유 게시판' : '공유 게시판'}"></h1>
    <a th:href="@{|/posts/${category}/create|}" class="btn btn-primary m-2 float-right">글 작성</a>
    <div class="flex flex-col container px-3 mx-auto">
        <div class="">
            <!-- Iterate over the posts -->
            <div th:each="post, loop : ${paging}" >

                <div th:class="${loop.index % 2 == 0 ? 'bg-gray-100 py-2' : 'bg-white py-2'}" >

                    <!-- 글번호, 제목, 댓글-->
                    <div class="sm:text-lg text:3xl text-start ml-1">
                        <span th:text="${paging.getTotalElements() - (paging.getNumber() * paging.getSize()) - loop.index}" class="ml-1 text-xs"></span>
                        <a th:href="@{/posts/{category}/detail/{postId}(category=${category}, postId=${post.id})}" th:text="${post.subject}" class="font-semibold"></a>
                        <span th:if="${#lists.size(post.comments) > 0}" class="font-semibold text-green-500 text-xs mx-1 float-right"
                              th:text="'댓글: ' + ${#lists.size(post.comments)}"></span>
                    </div>

                    <!-- 작성자, 조회수, 작성일-->
                    <div class="text-xs text-right">
                        <span class="text-xs">작성자:</span>
                        <span th:if="${member.title != null}" class="text-center font-semibold text-green-900 text-md"
                              th:text="|🎊${member.title}🎊|">
                        </span>
                        <span th:if="${post.author != null}" th:text="${post.author.nickname}"></span>
                        <span th:text="' / 조회수: ' + ${post.view}"></span>
                        <span th:text="' / 작성일: ' + ${#temporals.format(post.createDate, 'yy-MM-dd HH:mm')}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 페이징 처리 시작 -->
    <div class="btn-group pagination flex justify-center my-2 mx-auto">
        <ul class="flex justify-center">
            <li class="btn page-item btn-sm" th:classappend="${!paging.hasPrevious} ? 'btn btn-disabled btn-sm'">
                <a class="page-link" th:href="@{?page=0}">
                    <span>처음</span>
                </a>
            </li>
            <li class="btn page-item btn-sm" th:classappend="${!paging.hasPrevious} ? 'btn btn-disabled btn-sm'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-2 and page <= paging.number+2 and page >= 0}"
                th:classappend="${page == paging.number} ? 'btn btn-primary btn-sm btn-active'"
                class="btn page-item btn-sm">
                <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="btn page-item btn-sm" th:classappend="${!paging.hasNext} ? 'btn btn-disabled btn-sm'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
            <li class="btn page-item btn-sm" th:classappend="${!paging.hasNext} ? 'btn btn-disabled btn-sm'">
                <a class="page-link" th:href="@{?page={page} (page = ${paging.totalPages-1})}">
                    <span>끝</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

</div>
</body>
</html>