<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="content" class="flex-grow flex flex-col items-center justify-center my-3">
    <!-- content 시작 -->
    <div class="container flex-grow flex flex-col items-center justify-center max-w-xl mx-auto min-w-xl">
        <p> challengeHome입니다. </p>

        <th:block th:unless="${@rq.member.hasChallenge}">
            <div>등록된 챌린지가 없습니다.</div>
        </th:block>

        <th:block th:if="${@rq.member.hasChallenge}">
            <ul>
                <li th:each="c: ${challenge}">
                    <div class="card card-compact w-96 bg-base-100 shadow-xl my-3 ">
                        <div class="card-body">
                            <a th:href="@{/challenges/{id}(id=${c.getId})}">
                                <h2 class="card-title" th:text="${c.challengeName}"></h2>
                            </a>
                            <div th:text="${c.description}"></div>

                            <div th:text="${'기간: ' + c.startDate + ' ~ ' + c.endDate}"></div>

                            <div th:text="${'목표금액: ' + c.targetMoney + '원'}"></div>

                            <div th:text="${'총 사용금액: ' + c.usedMoney + '원'}"></div>

                            <div th:text="${'달성률: ' + c.achievementRate + '%'}"></div>
                            <div class="card-actions justify-end">
                                <a th:href="@{/challenges/{id}/update(id=${c.getId})}">
                                    <button class="btn btn-primary">수정하기</button>
                                </a>
                                <form href="javascript:;" onsubmit="if ( confirm('정말로 삭제하시겠습니까?') ) $(this).next().submit();" th:action="@{/challenges/{id}(id=${c.getId})}" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-primary" type="submit">삭제하기</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </th:block>

        <a href="/challenges/createForm" id="btn-challenge-create"  class="btn btn-primary my-3">새 챌린지 등록하기</a>
    </div>
    <!-- content 종료 -->

</div>