<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="content">
    <form role="form" th:action="@{/challenges}" method="post" th:object="${createForm}">

        <!-- content 시작 -->
        <div class="container">
            <p class="font-semibold p-3 pb-0 text-center text-lg">챌린지 작성</p>
            <div class="mt-4 mb-2 flex flex-col gap-3 mx-auto center w-5/6">
                <div class="form-group flex flex-col">
                    <label class="mb-2" th:for="challengeName">제목</label>
                    <input type="text" th:field="*{challengeName}" class="input input-bordered w-full"
                           placeholder="제목을 입력하세요.">
                </div>
                <p th:if="${#fields.hasErrors('challengeName')}" th:errors="*{challengeName}" class="fieldError">
                    Incorrect data</p>

                <div class="form-group flex flex-col">
                    <label class="mb-2" th:for="challengeName">내용</label>
                    <input type="text" th:field="*{description}" class="input input-bordered w-full"
                           placeholder="내용을 입력하세요.">
                </div>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="fieldError">Incorrect
                    data</p>

                <div class="flex flex-col">
                    <div class="mb-2">챌린지 기간</div>
                    <div class="flex flex-row items-center">
                        <input type="text" th:field="*{startDate}" id="startdatepicker" class="border rounded-md text-center w-1/2" placeholder="시작날짜" />
                        <span class="mx-2">~</span>
                        <input type="text" th:field="*{endDate}" id="enddatepicker" class="border rounded-md text-center w-1/2" placeholder="종료날짜" />
                    </div>
                </div>

                <script>
                    $(function () {
                        $("#startdatepicker").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: "yy-mm-dd",
                            onSelect: function (selectedDate) {
                                $("#enddatepicker").datepicker("option", "minDate", selectedDate);
                            }
                        });

                        $("#enddatepicker").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                $("#startdatepicker").datepicker("option", "maxDate", selectedDate);
                            }
                        });
                    });
                </script>

                <div class="form-group flex flex-col">
                    <label class="mb-2" th:for="targetMoney">목표 금액</label>
                    <input type="text" th:field="*{targetMoney}" class="input input-bordered w-full"
                           placeholder="목표금액을 입력하세요.">
                </div>
                <p th:if="${#fields.hasErrors('targetMoney')}" th:errors="*{targetMoney}" class="fieldError">Incorrect
                    data</p>

                <div class="flex justify-end">
                    <button type="submit" name="submit" class="btn btn-primary">등록하기</button>
                </div>
            </div>
        </div>
        <!-- content 종료 -->

    </form>
</div>