<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="content">

<!-- content 시작 -->
    <div class="w-full">
        <div class="font-semibold text-2xl my-1 text-center my-4">챌린지 상세</div>

        <div class="bg-indigo-200 rounded-2xl p-4 h-auto">
            <div class="flex w-full">
                <div class="grid h-full p-2 flex-grow card bg-base-100 bg-opacity-50 rounded-box place-items-center">
                    <div class="font-semibold text-xl my-1" th:text="${challenge.challengeName}"></div>
                    <div th:text="${challenge.description}"></div>
                </div>
                <div class="divider divider-horizontal"></div>
                <div class="grid h-full p-2 flex-grow card bg-base-100 bg-opacity-50 rounded-box place-items-left p-1">
                    <div th:text="${'챌린지 기간: ' + challenge.startDate + ' ~ ' + challenge.endDate}"></div>
                    <div th:text="${ '사용금액 / 목표금액: ' + challenge.usedMoney + '원 / ' + challenge.targetMoney + '원'}"></div>
                    <div th:text="${'달성률: ' + challenge.achievementRate + '%'}"></div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center">
            <a th:href="@{/challenges/{id}/createForm(id=${challenge.getId})}" id="btn-challenge-createNewSpendingHistory" class="btn btn-primary my-3">+ 직접 입력하기</a>

            <a th:href="@{/posts/share/{id}(id=${challenge.getId})}" class="btn btn-primary btn-outline mx-2">공유하기</a>
        </div>
        <th:block th:if="${challenge.hasSpendingHistory}">
            <div class="flex items-center justify-center" th:each="spendingHistory: ${challenge.getSpendingHistories()}">
                <div class="card card-compact w-96 bg-base-100 shadow-xl my-3 object-center">
                    <div class="card-body">
                        <h2 class="card-title" th:text="${spendingHistory.getContent}"></h2>
                        <div th:text="${spendingHistory.getPrice + '원'}"></div>
                        <p>날짜-시간</p>
                        <div th:text="${spendingHistory.getDescription}"></div>

                        <div th:each="image: ${spendingHistory.getImageFiles()}">
                            <img th:src="${image.getUploadFileUrl}"/>
                        </div>

                        <div class="card-actions justify-end">
                            <a th:href="@{/challenges/{id}/{sh_id}/updateForm(id=${challenge.getId}, sh_id=${spendingHistory.getId})}"
                               id="btn-challenge-spendingHistory-update" class="btn btn-sm btn-primary">수정</a>

                            <form href="javascript:;" onsubmit="return confirm('정말로 삭제하시겠습니까?')" th:action="@{/challenges/{id}/{sh_id}/delete(id=${challenge.getId}, sh_id=${spendingHistory.getId})}" method="get">
                                <button id="btn-challenge-spendingHistory-delete" class="btn btn-sm btn-primary">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

<!-- content 종료 -->

</div>