<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="content" class="flex-grow flex flex-col items-center justify-center my-3">
    <!-- content 시작 -->
    <div class="container flex-grow flex flex-col items-center justify-center max-w-xl mx-auto min-w-xl">
        <h1> OO카드 결제내역 </h1>

        <th:block th:unless="${challenge.hasSpendingHistory}">
            <div>표시할 지출내역이 없습니다.</div>
        </th:block>

        <th:block th:if="${challenge.hasSpendingHistory}">
            <div class="card card-compact w-96 bg-base-100 shadow-xl my-3 ">
                <div class="card-body">
                    <ul th:each="c: ${challenge.getSpendingHistories()}">
                        <a th:href="@{/challenges/{id}/{sh_id}/createForm(id=${challenge.getId}, sh_id=${c.getId})}">
                            <h2 class="card-title" th:text="|${c.getContent} ${c.getPrice}|"></h2>
                        </a>
                    </ul>
                </div>
            </div>
        </th:block>

    </div>
    <!-- content 종료 -->

</div>