<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--    테일윈드-->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- 제이쿼리 불러오기 -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!-- toastr 불러오기 toastr가 제이쿼리를 사용 함-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">
    <script>
        toastr.options = {
            closeButton: true,
            debug: false,
            newestOnTop: true,
            progressBar: true,
            positionClass: "toast-top-right",
            preventDuplicates: false,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };

        function parseMsg(msg) {
            const [pureMsg, ttl] = msg.split(";ttl=");

            const currentJsUnixTimestamp = new Date().getTime();

            if (ttl && parseInt(ttl) + 5000 < currentJsUnixTimestamp) {
                return [pureMsg, false];
            }

            return [pureMsg, true];
        }

        function toastNotice(msg) {
            const [pureMsg, needToShow] = parseMsg(msg);

            if (needToShow) {
                toastr["success"](pureMsg, "알림");
            }
        }

        function toastWarning(msg) {
            const [pureMsg, needToShow] = parseMsg(msg);

            if (needToShow) {
                toastr["warning"](pureMsg, "경고");
            }
        }

        // 어떠한 기능을 살짝 늦게(0.1 초 미만)
        function setTimeoutZero(callback) {
            setTimeout(callback);
        }
    </script>

<!--   타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)-->
    <script>
        const params = JSON.parse('[( ${@rq.paramsJsonStr} )]');
    </script>

<!--    다크모드-->
    <script>
        function darkMode(){
            console.log("찍히나요?")
            const body = document.querySelector('body');

            if(body.id === 'light'){
                document.querySelector('body').setAttribute("id", "dark");
            } else {
                document.querySelector('body').setAttribute("id", "light");
            }
        }
    </script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body id="light">

<div class="navbar max-w-2xl mx-auto bg-indigo-50 sticky top-0 z-50 rounded-2xl">
    <div class="navbar-start">
        <a th:href="@{/}" class="btn btn-ghost text-xl">오늘의 고비</a>
    </div>
    <div class="navbar-center lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/challenges">챌린지</a></li>
            <li tabindex="0">
                <a th:href="@{/posts/main}">커뮤니티
                    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2 bg-white z-50">
                    <li><a th:href="@{/posts/sharing/list}">공유 게시판</a></li>
                    <li><a th:href="@{/posts/free/list}">자유 게시판</a></li>
                    <li><a>채팅방</a></li>
                </ul>
            </li>
            <li><a>추천장소</a></li>
            <li><a th:href="@{/mypages/home}">프로필</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        <button class="btn btn-ghost btn-circle">
            <div class="indicator">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                </svg>
                <span class="badge badge-xs badge-primary indicator-item"></span>
            </div>
        </button>
    </div>
</div>


<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<!--    <th:block th:fragment="content"></th:block>-->
<div class="max-w-2xl min-h-screen mx-auto">
    <div layout:fragment="content"></div>
</div>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<footer class="footer footer-center p-4 bg-base-200 text-base-content max-w-2xl mx-auto">
    <div>
        <p>Copyright © 2023 - All right reserved by project-ogobi</p>
    </div>
</footer>

<script th:inline="javascript">
    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

    // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        console.log(localStorageKeyAboutHistoryBackErrorMsg)

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";

            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });
</script>
</body>
</html>