<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body>
    <div class="navbar bg-indigo-50">
        <div class="navbar-start">
            <a th:href="@{/}" class="btn btn-ghost text-xl">오늘의 고비</a>
        </div>
        <div class="navbar-center lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a>챌린지</a></li>
                <li><a th:href="@{/posts/list}">커뮤니티</a></li>
                <li><a>추천장소</a></li>
                <li><a>프로필</a></li>
            </ul>
        </div>
        <div class="navbar-end">
            <button class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /></svg>
                    <span class="badge badge-xs badge-primary indicator-item"></span>
                </div>
        </div>
    </div>

<!--    <button class="btn btn-primary">새 챌린지 작성하기</button>-->
<!--    <button class="btn btn-md btn-outline btn-primary">새 챌린지 작성하기</button>-->

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
<!--    <th:block th:fragment="content"></th:block>-->
    <div layout:fragment="content"></div>
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <footer class="footer footer-center p-4 bg-base-200 text-base-content">
        <div>
            <p>Copyright © 2023 - All right reserved by project-ogobi</p>
        </div>
    </footer>
</body>
</html>